<html>
  <head>
  </head>

  <body>
    <h1>Search Image</h1>

    <div class="form-container">
      <form method="post" enctype="multipart/form-data" action="/search">
        <fieldset>
          <div>
            <input type="file" size="30" name="image"/>
          </div>
        </fieldset>
        <div>
          <input type="submit" value="Upload"/>
        </div>

      </form>
    </div>
  </body>

</html>
